<div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
        <a class="active item">
            Home
        </a>
        <a class="item">
            Messages
        </a>
        <a class="item">
            Friends
        </a>
        <div class="right menu">
            <a class="item" ng-click="showLoginModal()">Sign In</a>
        </div>
    </div>
</div>
<div class="ui basic modal margin-top-35ux ">
    <div class="ui center aligned header centered">
        Sign in
    </div>
    <div class="content">
        <div class="ui center aligned grid">
            <div class="column">
                <i class="huge github icon clickable outline-d" ng-click="showGithubAuth()"></i> GitHub
            </div>
        </div>
    </div>
</div>