nav.dash {
}

.dash-container {
    height: 100%;
}

.dash-content {
    color: #FFF;
    line-height: 60px;
}

.dash-title {
    width: 385px;
    margin: 0 auto;
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

p.thought {
    font-size: 32px;
    right: -60px;
    top: 19%;
    width: 130px;
    line-height: 100px;
    -webkit-border-radius: 108px;
    -moz-border-radius: 108px;
    border-radius: 108px;
}

p.bubble {
    position: absolute;
    width: 154px;
    height: 79px;
    text-align: center;
    line-height: 67px;
    margin: 56px auto;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

p.bubble:before, p.bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

p.thought:before, p.thought:after {
    left: -25px;
    top: 40px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 6px solid #666;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

p.thought:after {
    width: 20px;
    height: 20px;
    left: -33px;
    top: 67px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.logo-word {
    text-align: center;
    color: #ffffff;
    float: left;
    margin: 0 auto;
    position: relative;
    font-family: 'Victors-Pixel-Font';
}

.logo {
    height: 82px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.content {
    margin-top: 300px;
}