.issue.panel-body:not(:last-child) {
    box-shadow: 0px 24px 3px -24px darkgrey;
}

.issue.panel-heading {
    font-size: 25px;
}

.issue.panel-body {
    font-size: 22px;
}

.tag {
    margin-right: 10px;
    display: inline-block;
}

.panel-heading {
    cursor: pointer;
}