
.sidebar.border {
    border-bottom: 1px solid darkgrey;
    margin: 20px;
}

.about .articles .title {
    font-weight: 500;
}

.about .articles .desc {
    width: 10em;
    margin: 0 0 2em 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}