
.issue-detail.panel-body {
    box-shadow: 0 3px 6px rgba(52, 152, 219, 0.16), 0 3px 6px rgba(52, 152, 219, 0.23);
    transition: all 0.3s;

}

.issue-detail.panel-body:hover {
    box-shadow: 0 14px 28px rgba(52, 152, 219, 0.25), 0 10px 10px rgba(52, 152, 219, 0.22);
    transition: all 0.3s;
    transform: translateZ(20px);
}