body {
    background-color: #bdbdbd;
}

.margin-top-2x {
    margin-top: 20px !important;
}

.custom.message {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    margin: auto;
}

.ui.custom.inverted.menu {
    margin-top: 0 !important;
}

